@import "./reset.css";
@import "./color.css";

button {
  padding: 10px;

  font-size: 1rem;
  line-height: 1rem;
}

.html-style {
  max-width: 1200px;
  min-width: 800px;

  margin: 0 auto;
}

.body-title {
  font-size: 2.5rem;
}

.write-form {
  width: 97%;
  height: 70px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 50px auto;

  background-color: var(--color-gray1);
  border-radius: 35px;
}

.write-label {
  font-size: 1.7rem;
}

.write-input {
  width: 30%;

  outline: none;
  background-color: var(--color-gray1);
  border: 0;
  border-radius: 20px;

  padding: 10px;

  font-size: 1.5rem;
}

.write-input:focus {
  background-color: var(--color-gray2);
}

.write-button {
  height: 60%;

  background-color: var(--color-gray7);
  border-radius: 20px;

  color: var(--color-white);
}

.write-button:hover {
  background-color: var(--color-gray2);
  color: var(--color-black);
  transition: 0.7s;
}

.list-title {
  margin: 25px 0 25px 0;

  font-size: 2.2rem;
}

.do-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc((1 - 0.04) / 3 * 100%), 1fr)
  );
  gap: 20px 2%;

  min-height: 220px;
}

.todo-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;

  padding: 20px;

  background-color: var(--color-gray0);

  border: 3px solid;
  border-radius: 20px;

  font-size: 1.1rem;
}

.todo-item h3 {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  align-self: center;

  font-size: 1.4rem;
}

.todo-item p {
  grid-column: 1 / 6;
  grid-row: 2 / 4;
  align-self: center;

  font-size: 1.1rem;
}

.list-delete-button,
.list-done-button {
  border-radius: 20px;
  grid-row: 4 / 5;
  transition: 500ms;
}

.list-delete-button {
  grid-column: 2 / 3;

  border: 2px solid var(--color-red);
  color: var(--color-red);
}

.list-delete-button:hover {
  border: 2px solid var(--color-red2);
  color: var(--color-red2);
}

.list-done-button {
  grid-column: 4 / 5;

  border: 2px solid var(--color-green);
  color: var(--color-green);
}

.list-done-button:hover {
  border: 2px solid var(--color-green2);
  color: var(--color-green2);
}
