:root {
  --color-white: rgb(255, 255, 255);
  --color-gray0: rgb(240, 240, 240);
  --color-gray1: rgb(0, 0, 0, 0.1);
  --color-gray2: rgb(0, 0, 0, 0.2);
  --color-gray4: rgb(0, 0, 0, 0.4);
  --color-gray7: rgb(0, 0, 0, 0.7);
  --color-black: rgb(0, 0, 0);
  --color-red: rgb(190, 0, 0);
  --color-green: rgb(0, 100, 0);
  --color-purple: rgb(170, 80, 170);
  --color-yellow: rgb(230, 230, 0);
}

[theme="dark"] {
  --color-white: rgb(0, 0, 0);
  --color-gray0: rgb(255, 255, 255);
  --color-gray1: rgb(255, 255, 255);
  --color-gray2: rgb(255, 255, 255);
  --color-gray4: rgb(255, 255, 255);
  --color-gray7: rgb(255, 255, 255);
  --color-black: rgb(255, 255 255);
  --color-red: rgb(190, 0, 0);
  --color-green: rgb(0, 100, 0);
  --color-purple: rgb(170, 80, 170);
  --color-yellow: rgb(230, 230, 0);
}
